.DS_Store
*.apk
*.aab
*.log
.gradle/
.google/
.idea/
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles/
!.idea/codeStyles/
!.idea/saveactions_settings.xml  
.kotlin/
local.properties
build/
/assets
/kutils/src
